.navbar {
    background-color: #1a1a1a;
    color: white;
}
.input {
    margin-top: 50px;
}
.col-3 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #e9d1a9;
    text-align: center;
}
.col-9 {
    /* border-right: 2px solid black; */
    border-bottom: 2px solid black;
    background-color: #fdf5e8;

}
.list-group {
    align-items: flex-start;
    padding-left: 20px;
}
.makeNewTask {
    width: max-content;
}